<div id="imageText-slider" class="imageText-slider">
    <section class="imageText-slider-inner">
        {% for block in section['block_order'] %}
            {% block %}
        {% endfor %}
        
        <div id="slider-bullets" class="slider-bullets">
            {% for block in section['block_order'] %}
            <span><i>{{ block.image.alt }}</i></span>
            {% endfor %}
        </div>
    </section>
</div>

<script>
let slidesCurrent = document.querySelectorAll("#imageText-slider .slide");
if (slidesCurrent.length != 0) {
    let slideIndex = 0;
    showSlides();
    function showSlides() {
        let i;
        let slides = document.querySelectorAll("#imageText-slider .slide");
        let bullets = document.querySelectorAll("#imageText-slider .slider-bullets > span");
        
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";    
        }
        
        slideIndex++;
        
        if (slideIndex > slides.length) {slideIndex = 1}    
        
        for (i = 0; i < bullets.length; i++) {
            bullets[i].className = bullets[i].className.replace("active", "");
        }
        slides[slideIndex-1].style.display = "flex";  
        bullets[slideIndex-1].className += "active";
        setTimeout(showSlides, 5000);
    }
}
</script>

{% styles %}

    .imageText-slider {
        position: relative;
    }
    
    .imageText-slider-inner {
        position: relative;
        min-height: 400px;
        margin-bottom: 3rem;
        display: flex;
    }
    
    .imageText-slider-inner .layout-normal.layout-normal {
        flex-direction: row;
    }
    
    .imageText-slider-inner .layout-reverse.layout-reverse {
        flex-direction: row-reverse;
    }
    
    .imageText-slider-inner .slide {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #FFFFFF;
        display: flex;
        flex-direction: column;
        -webkit-animation-name: slide;
        -webkit-animation-duration: 1.5s;
        animation-name: slide;
        animation-duration: 1.5s;
    }
    
    .imageText-slider-inner .slide .img-frame {
        position: relative;
        height: 200px;
        margin-bottom: 2.5rem;
    }
    
    .imageText-slider-inner .slide .img-frame img {
        width: 100%;                
        height: 100%;
        object-fit: cover;
    }
    
    .imageText-slider-inner .slider-bullets {
        position: absolute;
        bottom: -2rem;
        text-align: center;
        width: 100%;
    }
    
    .imageText-slider-inner .slider-bullets span {
        height: 8px;
        width: 8px;
        margin: 0 2px;
        background-color: rgba(187, 187, 187, 0.8);
        border-radius: 100%;
        display: inline-block;
        transition: background-color .6s ease;
    }
    
    .imageText-slider-inner .slider-bullets span i {
        display: none;
    }
    
    .imageText-slider-inner .slider-bullets .active {
        background-color: #C22221;
    }
    
    .imageText-slider-inner .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .imageText-slider-inner .content h2 {
        font-size: 1.4rem;
    }
    
    .imageText-slider-inner .content a {
        font-size: 1.2rem;
    }
    
    .imageText-slider-inner .content .text {
        font-size: 1rem;
    }
    
    .imageText-slider-inner .slide footer a:first-child {
        margin-right: 1rem;
    }
    
    .imageText-slider-inner footer a {
        color: #000000;
        text-decoration: none;
    }
    
    .imageText-slider-inner footer a:hover {
        text-decoration: underline;
    }
    
    .imageText-slider-inner footer a:after {
        color: #C22221;
        <!--content: ' \203A';-->
    }
    
    .imageText-slider-inner .align-left,
    .imageText-slider-inner .align-center,
    .imageText-slider-inner .align-right {
        display: flex;
    }
    
    .imageText-slider-inner .align-left footer,
    .imageText-slider-inner .align-center footer,
    .imageText-slider-inner .align-right footer {
        display: flex;
    }
    
    .imageText-slider-inner .align-left footer a ,
    .imageText-slider-inner .align-center footer a ,
    .imageText-slider-inner .align-right footer a {
        text-align: center;
    }
    
    .imageText-slider-inner .align-left h2, 
    .imageText-slider-inner .align-left .text {
        text-align: left;
    }
    
    .imageText-slider-inner .align-left footer {
        justify-content: flex-start;
    }
    
    .imageText-slider-inner .align-center h2, 
    .imageText-slider-inner .align-center .text {
        text-align: center;
    }
    
    .imageText-slider-inner .align-center footer {
        justify-content: center;
    }
    
    .imageText-slider-inner .align-right h2, 
    .imageText-slider-inner .align-right .text {
        text-align: right;
    }
    
    .imageText-slider-inner .align-right footer {
        justify-content: flex-end;
    }
    
    @media (min-width: 768px) {
        .imageText-slider-inner {
            height: 300px;
            display: flex;
            justify-content: space-between;
        }
        .imageText-slider-inner .slide {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .imageText-slider-inner .slide > div {
            width: 48%;
        }
        .imageText-slider-inner .slide .img-frame {
            height: 100%;
        }
        .imageText-slider-inner > div:first-child  {
            margin-bottom: 1rem;
        }
        .imageText-slider-inner img {
            height: 100%;
        }
    }
    
    @media (min-width: 1024px) {
        .imageText-slider-inner {
            height: 450px;
        }
        .imageText-slider-inner .content  h2 {
            font-size: 2rem;
            margin-bottom: 1rem;
        }
        .imageText-slider-inner .content .text {
            font-size: 1.2rem;
        }
    }
    
    @-webkit-keyframes slide {
        from {opacity: .4} 
        to {opacity: 1}
    }
    
    @keyframes slide {
        from {opacity: .4} 
        to {opacity: 1}
    }

{% endstyles %}

{% schema %}
{
    "name": "Image Text Slider",
    "description": "Image & Text Content Slider",
    "max_blocks": 5,
    "settings": [],
    "blocks": [
        {
            "type": "img_text_slide",
            "name": "Image Text Slide"
        }
    ]
}
{% endschema %}