<div class="slide {{ block.layout_orientation }}">
    <div class="img-frame">
        {% unless block.image == blank %}
        <img src="{{ block.image | img_url: '450x' }}" 
            alt="{{ block.image.alt }}"
            width="{{ block.image.width }}"
            height="{{ block.image.width | divided_by: block.image.aspect_ratio | floor }}"
            srcset="{{ block.image | img_url: '450x' }} 768w,
                    {{ block.image | img_url: '800x'}} 1280w"
            loading="lazy"
        >
        {% endunless %}
        
        
    </div>
    <div class="content {{ block.text_alignment }}">
        <h2>{{ block.header_text }}</h2>
        <div class="text">
            {{ block.desc_text }}
        </div>
        <footer>
            {% unless block.btn_text == blank %}
            <a href="{{ block.btn_url }}" aria-label="{{ block.btn_text }}">{{ block.btn_text }}</a>
            {% endunless %}
            {% unless block.btn_text_2 == blank %}
            <a href="{{ block.btn_url_2 }}" aria-label="{{ block.btn_text_2 }}">{{ block.btn_text_2 }}</a>
            {% endunless %}
        </footer>
    </div>
</div>

{% schema %}
{
    "name": "Image Text Slide",
    "settings": [
        {
            "type": "image_picker",
            "id": "image",
            "label": "Photo Slide"
        },
        {
            "type": "text",
            "id": "header_text",
            "label": "Header Text"
        },
        {
            "type": "richtext",
            "id": "desc_text",
            "label": "Description"
        },
        {
            "type": "text",
            "id": "btn_text",
            "label": "URL Text"
        },
        {
            "type": "url",
            "id": "btn_url",
            "label": "URL"
        },
        {
            "type": "text",
            "id": "btn_text_2",
            "label": "URL Text 2"
        },
        {
            "type": "url",
            "id": "btn_url_2",
            "label": "URL 2"
        },
        {
            "type": "select",
            "id": "text_alignment",
            "label": "Text Alignment",
            "options": [
                {
                    "value": "align-left",
                    "label": "Left"
                },
                {
                    "value": "align-center",
                    "label": "Center"
                },
                {
                    "value": "align-right",
                    "label": "Right"
                }
            ],
            "default": "align-left"
        },
        {
            "type": "select",
            "id": "layout_orientation",
            "label": "Layout Orientation",
            "options": [
                {
                    "value": "layout-normal",
                    "label": "Normal"
                },
                {
                    "value": "layout-reverse",
                    "label": "Reverse"
                }
            ],
            "default": "layout-normal"
        }
    ]
}
{% endschema %}